/*
* Style the plugin here :)
*/
p {
    font-style: italic;
}

#request-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#request-button:hover {
    background-color: blue;
}

#request-button:active {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#lb-request-certificate-advice {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}